body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("../img/5_background/desert-background.jpg");
    background-size: cover;
    background-position: center;
    font-family: Caveat;
}

canvas {
    display: none;
    background-color: black;
    /* border: 2px solid;
    border-radius: 8px;
    border-color: rgb(61, 61, 38); */
}

h1 {
    font-size: 64px;
    font-family: Madfont-Thorns;
    color: rgb(61, 61, 38);
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap: wrap;
    justify-content: end;
    position: absolute;
    width: 720px;
    height: 480px;
    background-color: rgba(114, 9, 9, 0);
    border-radius: 8px;
    color: rgb(255, 152, 0);
}

.overlay {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.single-line {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 50%;
    width: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgba(240, 248, 255, 0.295);
    width: 120px;
    border-radius: 8px;
    height: 32px;
    cursor: pointer;
}

img.start-screen {
    /* display: flex; */
    /* position: absolute; */
    width: 720px;
    height: 480px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

img.s-i-size {
    width: 64px;
    height: 64px;
}

.left {
    transform: rotate(180deg);
}

.up {
    transform: rotate(-90deg);
}

p.descript {
    padding-left: 16px;
}

@media (max-width: 900px) {
    h1 {
        display: none;
    }

    /* .settings {
        display: none;
    } */
}

@media only screen and (max-width: 980px) {
    canvas {
        width: 100%;
    }

    .overlay {
        width: 100%;
    }

    .settings {
        width: 100%;
    }

    img.start-screen {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .settings {
        height: 100vh;
    }

    .overlay {
        height: 100vh;
    }
}

@font-face {
    font-family: Madfont-Thorns;
    src: url('../fonts/Madfont-Thorns/MADFB___.TTF');
}

@font-face {
    font-family: Caveat;
    src: url('../fonts/Caveat/Caveat-VariableFont_wght.ttf');
}