body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("img/5_background/desert-background.jpg");
    background-color: rgb(58, 10, 10);
    background-size: cover;
    background-position: center;
    font-family: Caveat;
}

canvas {
    display: none;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    position: sticky;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58, 10, 10);
    border-top: 1px solid;
    border-color: rgb(179, 145, 53);
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.place-footer-elements {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 16px;
}

a {
    text-decoration: none;
    color: rgb(179, 145, 53);
}

a:hover {
    color: rgb(199, 206, 211);
}

.the-line {
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid;
    border-color: rgb(179, 145, 53);
    height: 16px;
}

.line {
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid;
    border-color: rgb(179, 145, 53);
    height: 1px;
    width: 86%;
}

.impressum {
    padding-left: 32px;
    padding-right: 32px;
    background-color: rgb(58, 10, 10);
    color: rgb(179, 145, 53);
    font-size: 24px;
}

.place-impressum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(58, 10, 10);
}

.impressum-header {
    padding-right: 32px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap: wrap;
    justify-content: end;
    position: absolute;
    width: 720px;
    height: 480px;
    background-color: rgba(114, 9, 9, 0);
    border-radius: 8px;
    color: rgb(255, 152, 0);
}

.overlay {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.single-line {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.message-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24, 26, 27, 0.822);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 32px;
}

.descript-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24, 26, 27, 0.918);
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 32px;
    color: rgb(255, 152, 0);
    font-size: 24px;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
}

.txt {
    padding: 16px;
}

.menu {
    display: flex;
    height: 100%;
    width: 100%;
}

.place-top-menu {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    height: 32px;
    background-color: rgba(58, 10, 10, 0.459);
}

.open-menu {
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 100%;
    height: 32px;
}

.action-buttons {
    display: none;
    justify-content: space-between;
    align-items: end;
    height: 50%;
    width: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
    padding-bottom: 132px;
}

.right-side {
    display: flex;
    flex-direction: column;
    padding-bottom: 132px;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    background-color: rgba(58, 10, 10, 0.5);
    width: 120px;
    border-radius: 8px;
    border: none;
    height: 32px;
    font-family: Caveat;
    font-size: 20px;
    color: rgb(177, 134, 16);
    cursor: pointer;
}

button:hover {
    filter: opacity(0.5);
}

img.start-screen {
    width: 720px;
    height: 480px;
}

img.end-screen {
    width: 720px;
    height: 480px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

img.s-i-size {
    width: 64px;
    height: 64px;
}

img.left {
    width: 64px;
    transform: rotate(180deg);
    padding: 16px;
    opacity: 0.5;
}

img.right {
    width: 64px;
    padding: 16px;
    opacity: 0.5;
}

img.space {
    width: 64px;
    padding: 16px;
    opacity: 0.5;
}

img.bottle {
    width: 64px;
    padding: 16px;
}

.sound {
    position: absolute;
    padding: 16px;
}

img.sound-off {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

img.sound-on {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

p.descript {
    padding-left: 16px;
}

.p-bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 80px;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 145, 53);
    border-radius: 6px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 186, 135);
}

@media (max-width: 900px) {
    .action-buttons {
        display: flex;
    }

    .menu {
        height: 50%;
    }
}

@media only screen and (max-width: 980px) {
    canvas {
        width: 100%;
    }

    .overlay {
        width: 100%;
    }

    .settings {
        width: 100%;
    }

    img.start-screen {
        width: 100%;
    }

    img.end-screen {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .settings {
        height: 100vh;
    }

    .overlay {
        height: 100vh;
    }
}

@font-face {
    font-family: Madfont-Thorns;
    src: url('fonts/Madfont-Thorns/MADFB___.TTF');
    font-style: normal;
    font-display: swap;
    crossorigin: 'anonymous';
}

@font-face {
    font-family: Caveat;
    src: url('fonts/Caveat/Caveat-VariableFont_wght.ttf');
    font-style: normal;
    font-display: swap;
    crossorigin: 'anonymous';
}